body, input, button, table, td {
    font-family: 'Vazirmatn', sans-serif;
    background-color: #121212;
    color: white;
    font-size: 16px;
}

#tableTitle {
    text-align: center;
    margin-bottom: 10px;
}

#languageSelect {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #1e1e1e;
    color: #fda323;
    border: none;
    border-radius: 5px;
    font-family: 'Vazirmatn', sans-serif;
}

.input-container {
    margin-bottom: 20px;
}

label {
    color: #fda323;
    margin-right: 10px;
}

input {
    padding: 10px;
    margin-right: 10px;
    background-color: #1e1e1e;
    color: #fda323;
    border: none;
    border-radius: 5px;
    font-family: 'Vazirmatn', sans-serif;
}

button {
    padding: 10px 15px;
    background-color: #fda323;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-family: 'Vazirmatn', sans-serif;
    margin-left: 5px;
}

button:hover {
    background-color: #ffbb42;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: auto;
}

td {
    border: 1px solid #fda323;
    padding: 10px;
    color: #fda323;
    background-color: #1e1e1e;
    width: 150px;
    text-align: center;
    font-family: 'Vazirmatn', sans-serif;
}
.copy-button {
    display: inline-block;
    padding: 8px 12px;
    margin-top: 15px;
    margin-left: 33px;
    margin-right: 34px;
    border: none; /* حذف حاشیه */
    border-radius: 4px; /* گوشه‌های گرد */
    cursor: pointer; /* تغییر نشان‌گر ماوس */
    transition: background-color 0.3s; /* انیمیشن برای تغییر رنگ */
}
.sortable-ghost {
    opacity: 0.4;
}
.dragging {
    opacity: 0.5; /* کاهش شفافیت ردیف در حال کشیدن */
}

tr {
    cursor: move; /* تغییر نشانگر موس به حالت جابجایی */
}
.drag-icon {
    cursor: move; /* تغییر نشانگر موس */
    margin-right: 10px; /* فاصله از متن */
}
footer {
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: -15px;
    z-index: -1;
}

